* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Roboto Condensed", sans-serif;
}

.nav-container {
    overflow: hidden;
    background-color: #EA0404;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
    position: relative;
}

nav {
    float: left;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
}

nav .logo {
    position: relative;
    width: 430px;
height: 172px;
top: 5px;
}

.nav-items li {
    list-style: none;
    margin-right: 50px;
    margin-left: 50px;
}

.nav-items a {
    color: #28439A;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
}

.nav-items a:hover { /* for hover animation */
    background-color: rgba(189, 189, 189, 0.692);
}

.nav-items li a {
    color: #fffffa;
    font-size: 60px;
    font-family: "Roboto Condensed", sans-serif;
}

.nav-items li:nth-last-of-type(1) {
    margin: 0;
} 

/* Search Bar */
.nav-btn-container input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

/* Headers */
.header-container {
    background: #28439A;
    background-repeat: no-repeat;
    background-position: right;
    height: 100vh;
}

.hero-image {
    position: relative;
}

/* Search Box */
.search-box {
    width: 1200px;
    margin: 0 auto;
    text-align: right;
    position: relative;
    top: 0;
}

.search-box :active {
    top: 72px;
}

.search-box input {
    background: #fffffa;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    border-radius: 0px 0px 8px 8px;

    font-size: 48px;
    line-height: 66px;
    border: 0;
    padding: 12px 48px;
}

.search-box input::placeholder {
    color: #b3b3b3;
}

/* Search and Close Icons */

.nav-btn-container {
    display: flexbox;
    position: relative;
}

.nav-btn-container img {
    position: absolute;
}


